@model IEnumerable<WebTracNghiemTiengAnhTHPT.Models.KetQua>


@if (!Model.Any())
{

}
else
{
    <table class="table">
        <tr>
            <th>
                Lịch sử làm bài
            </th>
        </tr>
        <tr>
            <th>
                Tên đề thi
            </th>
            <th>
                Số điểm
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.ActionLink(item.KyThi.TenKyThi, "Result", "Contests", new { maketqua = item.Maketqua }, new { @class = "btn btn-outline-success " })
                </td>
                <td>
                    @((item.Diem ?? 0).ToString("F2"))/10.00đ
                </td>
            </tr>
            @item.thoigian_batdau
        }
    </table>
}