@{
    Layout = "~/Views/Shared/LayoutWeb.cshtml";
}


@{
    ViewBag.Title = "Contact";
}
<div class="content-wrapper">
    <h2 class="text-justify text-center">Các kỳ thi</h2>
    <p>Các kỳ thi hiện có</p>


    <p>Các kỳ thi sắp tới</p>
    <div>


        <p>Các kỳ thi</p>
        <div class="container">
            <div class="row">

                <div class="bg-light col-6 col-md-3 justify-content-center text-center rounded-3 border-primary border" >
                    <a>
                        <h2>Tên kỳ thi</h2>
                        <div class="info-kythi ">
                            <div>
                                Thời gian
                                Số lượt
                            </div>
                            
                            <div>
                                Đánh giá
                                Số câu hỏi  
                            </div>
                            <button type="button" class="btn btn-info">Tham gia</button>
                        </div>
                    </a>
                </div>
               

            </div>

        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
      
    </div>
</div>
