@{
    Layout = "~/Views/Shared/LayoutWeb.cshtml";
}

<main>
    <div class="content-wrapper">
        <div class="sm-container">
            <h1 id="vechungtoi">Về Chúng Tôi</h1>
            <div class="content">
                <p>
                    P2N là một trong những phần mềm tự học tiếng Anh trực tuyến hiệu quả. Chúng tôi cung cấp cho người dùng phần mềm tự học tiếng Anh với giao diện thân thiện,
                    dễ sử dụng và các phần thi được thiết kế với bố cục, thời lượng tương tự như kỳ thi tiếng Anh thực tế với số lượng đề thi khủng được thu thập từ các nguồn uy tín.
                    Nhờ đó người dùng có thể tự ôn tập, luyện thi cấp tốc để chuẩn bị cho các kỳ thi tiếng Anh quan trọng như IELTS, TOEIC,…
                    đồng thời rèn luyện các kỹ năng ngôn ngữ một cách toàn diện nhất.
                </p>
                <br />
                <h2>Thông Tin</h2>
                <p>
                    Người thành lập: P2N
                    <br />
                    Địa Chỉ: Đại Học Thủ Dầu Một
                </p>
                <br />
                <p>
                    Xin vui lòng <a style="text-decoration: none" href="~/Views/Home/Contact.cshtml">Liên hệ</a> với chúng tôi nếu bạn có bất cứ thắc mắc góp ý nào.
                </p>
            </div>
        </div>
    </div>s
</main>
