@{
    Layout = "~/Views/Shared/LayoutWeb.cshtml";
}


<ul>
    <li>Danh sách thành viên: </li>
    <li>Hồ Tuấn Phước</li>
    <li>Nguyễn Minh Nghi</li>
    <li>Phan Phước Hồng Phúc</li>
    <li>........</li>

</ul>
