@{
    Layout = "~/Views/Shared/LayoutWeb.cshtml";
}


@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h1>Liên Hệ</h1>
    <p>
        Xin vui lòng gửi email cho chúng tôi tại p2n.team@gmail.com, inbox Facebook page, hoặc nhắn tin cho chúng tôi qua Zalo. Chúng tôi sẽ trả lời bạn trong thời gian sớm nhất :)
    </p>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>