@{
    Layout = "~/Views/Shared/LayoutWeb.cshtml";
}


@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <div class="d-flex flex-row">
        <div class="d-flex flex-fill bg-primary flex-column align-items-center justify-content-center col-6">
            <p> WELCOME TO <span><img class="img-fluid" src="~/Content/img/P2N 1.svg" /> </span>  </p>
            <p>  Hành trình rèn luyện tiếng Anh THPT </p>
        </div>
        <img class="col-6" src="~/Content/img/phan-mem-thi-truc-tuyen-lino 1.png" />
    </div>

    <h1>Liên Hệ</h1>
    <p>
        Xin vui lòng gửi email cho chúng tôi tại p2n.team@gmail.com, inbox Facebook page, hoặc nhắn tin cho chúng tôi qua Zalo. Chúng tôi sẽ trả lời bạn trong thời gian sớm nhất :)
    </p>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>