@{
    Layout = "~/Views/Shared/LayoutWeb.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}

<main>
    <div>

        <div class="d-flex flex-row">
            <div class="d-flex flex-fill bg-primary flex-column align-items-center justify-content-center col-6">
                <p> WELCOME TO <span><img class="img-fluid" src="~/Content/img/P2N 1.svg" /> </span>  </p>
                <p>  Hành trình rèn luyện tiếng Anh THPT </p>
            </div>
            <img class="col-6" src="~/Content/img/phan-mem-thi-truc-tuyen-lino 1.png" />
        </div>

    </div>
    
</main>